apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
  namespace: flask-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask
        image: zeesha345/two-tier:v3
        ports:
        - containerPort: 5000
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: admin
        envFrom:
        - secretRef:
            name: mysql-secret
        - configMapRef:
            name: mysql-config

